<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="the_title_of_page">Здравствуйте <span style="color:#5882FA">"<%= @user.name %>"</span></div><br />
<div style="margin: 0 auto;text-align: left;width: 500px;border: 1px solid pink;padding: 20px;">
Ваш E-mail: <%= @user.email %><br />
Вы зарегистрированы: <%= @user.created_at.to_s[0..-5] %>
</div>
