/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */ 
html {
	height:100%;
}
body {
	height:100%;
	margin: 0px auto;
	padding:0px;
	background-color:#D8D8D8;
	/*background-image: url(background.png);*/
}
section {
	margin:0 auto;
	width:900px;/*ширина section и footer должна быть одинаковой*/
	min-height:100%;
	background-color:white;
}
header {
	width:100%;
	height: 90px;
	/*border-radius: 100px 30px;*/
	background-color:#FF5D40;
	opacity: 0.9;
}
nav {
	background-color:#E165B9;
	/*border: 2px solid;*/
	margin:2px auto;
	/*min-width:250px;*/
}
footer {
	margin: inherit;
	width: 900px;/*ширина равна ширине section*/
	background-color:#E165B9;
	/*border-radius: 100px 30px;*/
	height:40px;
	margin-top:-40px; /*= минус высота footer*/
}
#height_footer {
	height:40px;/*высота footer*/
}
#background_header {
	position:absolute;
	width:100%;
	height: 90px;
	background-color:#FF5D40;
	opacity: 0.6;
}
#yield {
	background-color:white;
	margin:0;
}
ul.menu {
	list-style:none;
	width:770px; /*ширина всех ссылок*/
	height:35px;
	margin: 0 auto;
	padding: 0;
	border-left: 2px solid white;
}
ul.menu li {
	float:left;
	border-right: 2px solid white;
}
ul.menu li a {
	display:block;
	height:35px;
	padding:0 13px;
	float:left;
	text-transform: uppercase;
	font:75%/35px Helvetica,"microsoft sans serif",arial,sans-serif;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
ul.menu li a:hover,
ul.menu li.active a{
	background-color:#BE008A;
}
div.form_for {
	/*background-color: #9CEF6C;*/
	width: 330px;
	margin: 0 auto 10px;
	padding: 0px 50px 20px 50px;
	/*height: 350px;*/
	text-align: left;
}
div.form_for form {
	margin:10px 10px;
	padding:20px 0 0 50px;;
}
div.form_for input:focus, textarea:focus {
	/*background-color:#E165B9;*/
	border:2px solid green;
}
div.form_for input, textarea {
	background-color:#A9F5A9;
	/*border: 2px solid green;*/
}

.field_with_errors input, .field_with_errors textarea {
	border:2px solid #F30021;
}
.form_errors {
	color:#F30021;
	font-size:10pt;
	padding: 0 0 10px;
}
.error {
	background: url("/assets/error.png") left center no-repeat;
	background-size:30px auto;
	background-color:#FFBABA;
	border: 1px solid red;
	padding:10px 15px 10px 40px;
	width:400px;
	text-align:center;
	margin:0 auto;
	color:red;
	font-size:13px;
}
.notice {
	background: url("/assets/succesful.png") left center no-repeat;
	background-size:30px auto;
	background-color:#81F79F;
	border: 1px solid green;
	padding:10px 15px 10px 40px;
	width:300px;
	text-align:center;
	margin:15px auto;
	color:green;
	font-size:13px;
}
.the_title_of_page {
	font: bold 200%/45px Impact  sans-serif;
	color: #6E6E6E;
	padding:30px 0 15px 0;
}
#menu_header {
	list-style:none;
}
#menu_header li {
	float:left;
	padding:0 10px;
	margin:0 5px;
	border: 1px solid #424242;
	background-color:#D8D8D8;
}
#menu_header li a {
	text-decoration:none;
	color:#B404AE;
}
#menu_header li a:hover,
#menu_header li.active a{
	color:white;
}
.info_under_form {
	border: 1px solid pink;
	padding: 5px;
	width: 500px;
	margin: 0 auto 10px;
	font-size: 13px
}
.table_index{
	width:850px;
	border-spacing: 0;
}
.table_index th {
	border-bottom: 3px solid #F30021;
	background-color: #F5A9A9;
	padding: 5px;
	color: #DF0101;
}
.table_index td {
	padding: 5px;
	border-bottom: 1px dashed #F30021;
}
.table_index tr:hover {
	background-color: #F5A9A9;
}