/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	height:100%;
}
body {
	height:100%;
	margin: 0px auto;
	padding:0px;
	background-color: #FFEEEE;
	/*background-image: url(background.png);*/
}
section {
	margin: inherit;
	width:900px;/*ширина section и footer должна быть одинаковой*/
	min-height:100%;
	background-color:#F4FA58;
}
header {
	height: 90px;
	/*border-radius: 100px 30px;*/
	background-color:#F5A9F2;
}
nav {
	/*border: 2px solid;*/
	float: right;
	margin:40px 35px 5px 5px;
}
footer {
	margin: inherit;
	width: 900px;/*ширина равна ширине section*/
	background-color:#00FF80;
	/*border-radius: 100px 30px;*/
	height:70px;
	margin-top:-70px;/*значение минус высота footer*/
}
#height_footer {
	height:70px;
}
